.clothing-nav {
    margin: 159px 98px;
    display: flex;
    justify-content: space-between;
    
    &__menu {
        display: flex;
        flex-direction: column;
        height: 558px;
        background-repeat: no-repeat;
        position: relative;
        right: 0;
        justify-content: flex-end;
        background-position: right top;

        & span {
            background: white;
        }

        &--left {
            background-image: url(../images/image-1.png);
            width: 28%;
        }

        &--center {
            background-image: url(../images/image-2.png);
            width: 28%;
            position: relative;
        }

        &--right {
            background-image: url(../images/image-3.png);
            width: 28%;
        }
        & div {
            display: block;
            flex-direction: column;
            margin: 5px 0;
            }

            & h5 {
                display: inline-block;
                @include fontSize(28);
                font-weight: 700;
                margin: 0;
                line-height: 4rem;
                margin-bottom: 80px;
                // background: white;
            }
        }
    }


.products {
    font-family: $mont;
    position: relative;
    display: flex;
    flex-direction: column;
    &__content {
        width: 60.9%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & h4 {
            margin: 20px 0;
        }
        &__sub {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & p {
                @include fontSize(18);
                color: $grey8;
                font-family: $robo;
            }
            &__nav {
                & a {
                    background-color: white;
                    border: none;
                    color: $grey8;
                    @include fontSize(18);
                    text-decoration: none;
                    &:hover {
                        border-bottom: $puddleYellow 3px solid;
                    }
                }
                & a:first-child {
                    color: black;
                }
            }
        }
    }
    &--primary::after {
        content: "Spring/Summer";
        font-weight: bold;
        transform: rotate(90deg);
        display: inline-block;
        position: absolute;
        right: -250px;
        bottom: 250px;
        color: #eee;
        font-size: 86px;
    }
    &--secondary::after {
        content: "Summer Sale";
        font-weight: bold;
        transform: rotate(90deg);
        display: inline-block;
        position: absolute;
        left: -180px;
        bottom: 250px;
        color: #eee;
        font-size: 86px;
    }
    &__menu {
        width: 60.9%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__menu-item {
            max-width: 270px;
            margin: 60px 0;
            position: relative;
            & button {
                background: $black3;
                border: none;
                padding: 8px 11px;
                position: absolute;
                right: 0;
                bottom: 93px;
                &:hover {
                    background: $puddleYellow;
                }
            }
            & p {
                @include fontSize(16);
                margin: 0;
                font-family: $robo;
                line-height: 24px;
                &:last-of-type {
                    color: #aaa;
                }
            }
            &__price {
                font-family: $mont;
                color: $black3;
                @include fontSize(18);
                margin: 19px 0 0 0;
                display: inline-block;
                &--discounted {
                    @include fontSize(15);
                    margin: 0;
                    display: inline-block;
                    color: #aaa;
                    text-decoration: line-through;
                    margin: 0 5px;
                }
            }
        }
    }
}


.lookbook {
    width: 60.9%;
    margin: 0 auto 159px auto;
    background: url(../images/main-image-2.png) no-repeat left top;
    position: relative;

    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        

        &__slider {
            padding: 240px 0;
            display: inline-block;
            margin: 0 30px 0 30px;

            & button {
                width: 20px;
                background: black;
                color: white;
                border: none;
                margin-right: -3px;
                @include fontSize(25);
                display: inline-block;

                &:hover {
                    color: $puddleYellow;
                }
            }

            &--left {
                padding: 18px 20px 18px 30px;
            }

            &--right {
                padding: 18px 40px 18px 30px;
            }
        }
    }

    &__content {
        display: inline-block;
        background: url(../images/boder.png) no-repeat;
        margin: auto 0;
        width: 80%;
        padding: 0 0 125px 30px;

        & h4,
        & p, 
        & a {
            float: right;
            clear: both;
        }

        & h4 {
            @include fontSize(30);
            font-family: $mont;
            margin: 0;
            color: $black3;
        }

        & p {
            @include fontSize(18);
            font-family: $robo;
            color: $grey8;
        }

        & a {
            text-decoration: none;
            color: $black3;
            @include fontSize(16);
            font-family: $mont;
            font-weight: bold;
            border: $puddleYellow 2px solid;
            border-radius: 30px;
            background: white;
            padding: 20px 33px;

            &:hover {
                background: beige;
                color: rgb(233, 138, 174);
                border: rgb(243, 160, 130) 2px solid;
            }
        }
        
    }
}

.blog {
    width: 60.9%;
    margin: 0 auto 162px auto;

    &__content {
        display: flex;

        &__text {
            display: flex;
            flex-direction: column;
            align-content: space-between;
            justify-content: center;

            & h6,
            & h5,
            & p {
                margin: 0;
                z-index: 9;
                position: relative;
            }

            & h6 {
                color: #aaa;
                @include fontSize(12);
                font-weight: 400;
                font-family: $mont;
                margin-bottom: 20px;
            }

            & h6:first-of-type {
                text-transform: uppercase;
            }

            & h6:last-of-type {
            }

            & h5 {
                @include fontSize(20);
                font-weight: 500;
                font-family: $mont;
                margin-bottom: 10px;
            }

            & p {
                @include fontSize(15.38);
                color: #666;
                line-height: 24px;
                padding-bottom: 40px;
            }

            &--secondary {
                margin-right: 100px;
                width: 100%;
            }

            &--primary {
                margin-left: 100px;
            }
        }

        &__image {
            z-index: 4;
            
        }

        &--primary {
            z-index: 5;
            position: relative;
        }

        &--secondary {
            margin-top: -100px;
            z-index: 1;
            position: relative;
            display: flex;
            align-items: center;
            text-align: right;
            background: url(../images/blog-2.png) no-repeat;
            height: 390px;
        }

        &__container {
            position: relative;
            z-index: 10;

        }
    }

    
}

