// Header Nav

.top-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;  
    font-family: $mont;
    
    &__logo {
        display: flex;
        padding: 66px;
    }

    &__burger {
        display: none;
    }

    &__menu {
        max-width: 635px;
        margin-bottom: 40px;

        &__list {
            display: flex;

            &__menu-item a {
                text-decoration: none;
                color: $black3;
                padding: 25px;
                font-size: 22px;
                color: $grey8;
                font-weight: 500;
            }
            &__menu-item a:hover {
                color: $black3;
                border-bottom: 3px solid $puddleYellow;
            }
        }
    }
}

.language-nav {
    display: flex;
    font-family: $robo;
    
    &__menu {
        display: flex;
        padding: 10px;

        & p {
            color: $grey8;
            margin: 0 10px;
            @include fontSize(16);
        }
        & .fa-angle-down {
            color: $grey8;
            font-size: 16px;
        }
    }
}

.shop {
    display: flex;
    margin: 0 30px;

    &__list {
        padding: 5px;
        display: flex;  
        justify-content: center;
        
        &__search,
        &__account,
        &__cart {
            background: transparent;
            border: none;
        }
    }
}


// Header Banner

.banner {
    width: 100%;
    position: relative;
    font-family: $mont;
    &__text {
        height: 900px;
        background-image: url(../images/main-image-1.png);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: contain;
        padding-left: 10%;
        position: relative;

        & p {
            color: #aaa;
            @include fontSize(28);
            font-family: $robo;
        }

        & h4 {
            font-family: $mont;
        }

        & h2 {
            @include fontSize(80);
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 10px;
            color: $black3;
        }
        
        & h1 {
            @include fontSize(500);
            color: rgba(170, 170, 170, 0.219608);
            margin: 0;
            position: absolute;
            bottom: 70px;
            left: 170px;
            font-weight: 500;
            z-index: -1;
        }

        & span {
            border-bottom: black 2px solid;
            padding-bottom: 26px;
        }

        & a {
            background: $puddleYellow;
            color: white;
            text-decoration: none;
            @include fontSize(18);
            padding: 21px 41px;
            border-radius: 40px;
            display: inline-block;
            margin-top: 80px;
            z-index: 3;

            &:hover {
                background: red;
            }
        }
    }

    &__button {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 15%;
        display: flex;
        
        & button {
            width: 50%;
            padding: 29.5px;
            background: white;
            border: none;
            font-size: 20px;

            &:hover {
                background: $puddleYellow;
            }
        }
    }
}


// Top Nav Responsive
@media (max-width: 1341px) {
    .top-nav {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 629px) {

    .top-nav {
    
        &__burger {
            display: flex;
            margin: 0 auto;
            font-size: 25px;
            text-align: center;
            justify-content: space-between;

            & p {
                margin: 0;
                line-height: 23px;
            }
        }

        &__menu__list {
            flex-direction: column;
            text-align: center;
            display: none;

            &__menu-item {
                padding: 10px 0;
                
                & a {
                    padding: 10px 0;
                }
            }
        }
    }
}


// Banner Responsive
@media (max-width: 1835px) {

    .banner__text {
        
        & h1,
        & p {
            color: rgba(248, 185, 195, 0.897);
            z-index: 3;
        }

        & p {
            color: white;
            background: rgba(128, 128, 128, 0.342);
            display: inline;
        }

        & a {
            z-index: 5;
            position: relative;
        }

        & h4 {
            @include fontSize(20);
        }
    }
}

@media (max-width: 1210px) {

    .banner__text {

        padding-top: 0;
        max-height: 400px;

        & h1 {
            display: none;
        }

        & h2 {
            @include fontSize(60);
        }

        & p {
            @include fontSize(25);
        }
    }

    .banner__button {
        bottom: 60%;
        
        & button {
            padding: 12px 0;
        }
    }
}

@media (max-width: 872px) {
    .banner__text {
        
        // height: 250px;

        & h2 {
            @include fontSize(25);
            line-height: 5px;
            margin-top: 10%;
        }
        & p {
            @include fontSize(15);
        }

        & h4 {
            @include fontSize(15);
        }

        & a {
            @include fontSize(10);
            padding: 10px 15px;
            font-weight: bold;
            margin-top: 10%;
        }
    }   

    .banner__button {

        display: none;
    }    
}