.lookbook {
    width: 60.9%;
    margin: 0 auto 159px auto;
    background: url(../images/main-image-2.png) no-repeat left top;
    position: relative;
    
    &::after {
        content: "By Mark Jacobs";
        font-family: $robo;
        transform: rotate(-90deg);
        @include fontSize(16);
        bottom: 10%;
        right: 20%;
        position: absolute;
        text-transform: uppercase;
    }

    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        position: relative;

        

        &__slider {
            padding: 240px 0;
            display: inline-block;
            margin: 0 30px 0 30px;

            & button {
                width: 20px;
                background: black;
                color: white;
                border: none;
                margin-right: -3px;
                @include fontSize(25);
                display: inline-block;

                &:hover {
                    color: $puddleYellow;
                }
            }

            &--left {
                padding: 18px 40px 18px 30px;
            }

            &--right {
                padding: 18px 40px 18px 30px;
            }
        }
    }

    &__content {
        display: inline-block;
        background: url(../images/boder.png) no-repeat;
        margin: auto 0;
        width: 80%;
        padding: 0 0 125px 30px;

        & h4,
        & p,
        & a {
            float: right;
            clear: both;
        }

        & h4 {
            @include fontSize(30);
            font-family: $mont;
            margin: 0;
            color: $black3;
        }

        & p {
            @include fontSize(18);
            font-family: $robo;
            color: $grey8;
        }

        & a {
            text-decoration: none;
            color: $black3;
            @include fontSize(16);
            font-family: $mont;
            font-weight: bold;
            border: $puddleYellow 2px solid;
            border-radius: 30px;
            background: white;
            padding: 20px 33px;

            &:hover,
            &:active {
                background: beige;
                color: rgb(233, 138, 174);
                border: rgb(243, 160, 130) 2px solid;
            }
        }
    }
}

@media (max-width: 1815px) {

    .lookbook {

        &__content {

            background: rgba(128, 128, 128, 0.342) url(../images/boder.png) no-repeat;
            ;
            height: 322px;

            & span {
                display: block;
                text-align: right;
            }

            & p {
                color: rgba(248, 185, 195, 0.897);
                font-weight: bold;
            }

            & h4 {
                color: white;
                text-shadow: 0 4px 4px silver;
            }
        }
    }
}

@media (max-width: 1790px) {

    .lookbook::after {
        color: white;
        transform: rotate(0);
        text-shadow: 0 3px 3px black;

    }
}

@media (max-width: 921px) {

    .lookbook {

        ::after {
            @include fontSize(15);
        }

        &__container__slider {
            display: none;
        }

        &__content {
            background: none;
            padding: 20%;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-around;
            text-align: right;
            
            & h4 {
                @include fontSize(15);
                margin-top: 10%;
            }

            & p {
                @include fontSize(10);
                background: rgba(128, 128, 128, 0.342);
            }

            & a {
                @include fontSize(10);
                padding: 5px 20px;
                
            }
        }
    }
}

@media (max-width: 550px) {
    .lookbook {
        width: 100%;
    }
}