.products {
    font-family: $mont;
    position: relative;
    display: flex;
    flex-direction: column;

    &__content {
        width: 60.9%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;

        & h4 {
            margin: 20px 0;
        }

        &__sub {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & p {
                @include fontSize(18);
                color: $grey8;
                font-family: $robo;
            }

            &__nav {

                & a {
                    background-color: white;
                    border: none;
                    color: $grey8;
                    @include fontSize(18);
                    text-decoration: none;
                    &:hover {
                        border-bottom: $puddleYellow 3px solid;
                    }
                }

                & a:first-child {
                    color: black;
                }
            }
        }
    }

    &--primary::after {
        content: "Spring/Summer";
        font-weight: bold;
        transform: rotate(90deg);
        display: inline-block;
        position: absolute;
        right: -250px;
        bottom: 250px;
        color: #eee;
        font-size: 86px;
    }

    &--secondary::after {
        content: "Summer Sale";
        font-weight: bold;
        transform: rotate(90deg);
        display: inline-block;
        position: absolute;
        left: -180px;
        bottom: 250px;
        color: #eee;
        font-size: 86px;
    }

    &__menu {
        width: 60.9%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__menu-item {
            max-width: 270px;
            margin: 60px 0;
            position: relative;

            & button {
                background: $black3;
                border: none;
                padding: 8px 11px;
                position: absolute;
                right: 0;
                bottom: 93px;

                &:hover {
                    background: $puddleYellow;
                }
            }

            & p {
                @include fontSize(16);
                margin: 0;
                font-family: $robo;
                line-height: 24px;

                &:last-of-type {
                    color: #aaa;
                }
            }

            &__price {
                font-family: $mont;
                color: $black3;
                @include fontSize(18);
                margin: 19px 0 0 0;
                display: inline-block;

                &--discounted {
                    @include fontSize(15);
                    margin: 0;
                    display: inline-block;
                    color: #aaa;
                    text-decoration: line-through;
                    margin: 0 5px;
                }
            }
        }
    }
}

// Product Responsive

@media (max-width: 1790px) {

    .products {

        &--primary::after,
        &--secondary::after {
            display: none;
        }

        &__menu {
            
            justify-content: space-around;
        }

        &--primary .products__content:before {
            content: "Spring";
            left: 5%;
            top: 10%;
            position: absolute;
            @include fontSize(40);
            transform: rotate(-90deg);
            font-family: $mont;
        }

        &--primary .products__content:after {
            content: "Summer";
            right: 5%;
            top: 10%;
            position: absolute;
            @include fontSize(40);
            transform: rotate(90deg);
            font-family: $mont;
        }

        &--secondary .products__content:before {
            content: "Summer";
            left: 5%;
            top: 10%;
            position: absolute;
            @include fontSize(40);
            transform: rotate(-90deg);
            font-family: $mont;
        }

        &--secondary .products__content:after {
            content: "Sale";
            right: 5%;
            top: 10%;
            position: absolute;
            @include fontSize(40);
            transform: rotate(90deg);
            font-family: $mont;
        }
    }
}

@media (max-width: 845px) {
 
    .products {
    
        &__menu__menu-item {
            margin: 0;
        }

        &__content {

            margin-bottom: 15px;

            &__sub {
                flex-direction: column;

                &__nav a {
                    @include fontSize(12);
                }
            }

            &::before {
                display: none;
            }

            &::after {
                display: none;
            }

            & h4 {
                @include fontSize(18);
                text-align: center;
            }

            & p {
                @include fontSize(14);
                text-align: center;
            }
        }

       
    }
}