@import "setup";
@import "utils";
@import "typography";
@import "components/header";
@import "components/footer";

// Universal Applications

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

