@import "setup";
@import "utils";
@import "typography";
@import "components/header";
@import "components/clothing-nav";
@import "components/product";
@import "components/lookbook";
@import "components/blog";
@import "components/footer";

// Universal Applications

html {
    font-size: 62.5%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

* {
    transition: all 0.2s ease;
}

a {
    text-decoration: none;
}
